<div class="story-container">
  <div class="story story-header">
    <div class="infobit"></div>
    <div class="week">
      <div class="day month-day"><span class="month">Oct</span><span class="date">19</span></div>
      <div class="day">20</div>
      <div class="day">21</div>
      <div class="day">22</div>
      <div class="day">23</div>
      <div class="day weekend">24</div>
      <div class="day weekend">25</div>
    </div>
    <div class="week">
      <div class="day month-day"><span class="month">Oct</span><span class="date">26</span></div>
      <div class="day">27</div>
      <div class="day">28</div>
      <div class="day">29</div>
      <div class="day">30</div>
      <div class="day weekend">1</div>
      <div class="day weekend">2</div>
    </div>
    <div class="week">
      <div class="day month-day"><span class="month">Nov</span><span class="date">3</span></div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day">7</div>
      <div class="day weekend">8</div>
      <div class="day weekend">9</div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="story even">
    <div class="infobit">
      <ul class="assignees">
        <li>Todd</li>
        <li>Josie</li>
        <li>Dawniris</li>
      </ul>
      <h1 class="identifier"><a href="https://jirarenewfundcom/browse/II-7229">II-7229</a></h1>
      <p class="description">Switch storage of documents from Panda to S3</p>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day weekend"></div>
      <div class="dev day weekend"></div>
    </div>
    <div class="week">
      <div class="dev day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day weekend"></div>
      <div class="review day weekend"></div>
    </div>
    <div class="week">
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="story odd">
    <div class="infobit">
      <ul class="assignees">
        <li>Todd</li>
        <li>Josie</li>
        <li>Dawniris</li>
      </ul>
      <h1 class="identifier"><a href="https://jirarenewfundcom/browse/II-7229">II-7229</a></h1>
      <p class="description">Switch storage of documents from Panda to S3</p>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="review day weekend"></div>
      <div class="review day weekend"></div>
    </div>
    <div class="week">
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day weekend"></div>
      <div class="review day weekend"></div>
    </div>
    <div class="week">
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="story even">
    <div class="infobit">
      <ul class="assignees">
        <li>Todd</li>
        <li>Josie</li>
        <li>Dawniris</li>
      </ul>
      <h1 class="identifier"><a href="https://jirarenewfundcom/browse/II-7229">II-7229</a></h1>
      <p class="description">Switch storage of documents from Panda to S3</p>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="review day"></div>
      <div class="review day"></div>
      <div class="review day weekend"></div>
      <div class="review day weekend"></div>
    </div>
    <div class="week">
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="story odd">
    <div class="infobit">
      <ul class="assignees">
        <li>Todd</li>
        <li>Josie</li>
        <li>Dawniris</li>
      </ul>
      <h1 class="identifier"><a href="https://jirarenewfundcom/browse/II-7229">II-7229</a></h1>
      <p class="description">Switch storage of documents from Panda to S3</p>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="dev day"></div>
      <div class="dev day"></div>
      <div class="review day"></div>
      <div class="review day weekend"></div>
      <div class="review day weekend"></div>
    </div>
    <div class="week">
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="rc day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="story new-story omega">
    <div class="infobit">
      <button class="btn new">New story</button>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="week">
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day"></div>
      <div class="day weekend"></div>
      <div class="day weekend"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>