<div class="row">
  <table id="timeline">
    <tr>
      <th>Story</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th class="weekend">12/31</th>
      <th class="weekend">12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
      <th>12/31</th>
    </tr>
    <tr>
      <td>7065 - Something</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="filled" colspan="8"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>