$infobit-metadata-width: 120px;
$subtask-infobit-width: 178px;
$infobit-width: 300px;
$cell-height: 48px;
$cell-width: 13px;
$week-width: $cell-width*7;
$subtask-cell-height: 20px;

// Colors

$text-color: #2F2933;
$cell-border: lighten(#2F2933, 30%);
$stripe-even: #fff;
$stripe-odd: #fff;
$weekend: rgba(lighten($cell-border, 35%), 0.8);

// https://color.adobe.com/Friends-and-foes-color-theme-1273498/
// $dev: rgba(#01A2A6, 0.65);
// $review: rgba(#29f5c2, 0.65);
// $rc: rgba(#BDF271, 0.65);
// $holiday: rgba(#fff, 0.65);
// $highlight: rgba(#FFFFA6, 0.65);

// https://color.adobe.com/Faded-Rainbow-color-theme-3404174/
$dev: rgba(#7BBADE, 0.7);
$review: rgba(#FFED5D, 0.7);
$rc: rgba(#F29E4A, 0.7);
$holiday: rgba(#FF7050, 0.7);
$highlight: rgba(#93DE7F, 0.7);

// https://color.adobe.com/Pear-Lemon-Fizz-color-theme-1833017/